.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  margin: 0;
  padding: 10px 20px;
  font: inherit;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
  border-radius: var(--border-radius-large);
  box-sizing: border-box;
  transition: var(--transition);
}

.button--light {
  color: var(--dark-green);
  background-color: var(--basic-white);
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--mild-green);
  border-color: var(--mild-green);
}

.button--light:not(:disabled):hover {
  color: var(--basic-white);
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.button:disabled {
  color: var(--basic-white);
  background-color: var(--neutral-gray);
  border-color: var(--neutral-gray);
}
