.filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li:not(:last-child) {
  margin-right: 20px;
}

.filters button {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}

.filters button:not(:disabled) {
  cursor: pointer;
}

.filters .current {
  font-weight: 700;
}

.filters button:not(:disabled):hover {
  text-decoration: underline;
}

.filters button:disabled {
  opacity: 0.3;
}
